extends ./../layouts/default
include ./../../src/header/mixins

block variables
  - var title = "header"

block header
  +header({
    logo: `
      <a href="#">
        ЛОГО
      </a>
    `,
    tool: [
      `
        <a href="#">
          <svg
            width="24"
            height="24"
            stroke-width="0"
            aria-label="Поиск">
            <path d="M18.5 2.33l3.17 3.18c.88.88.88 2.3 0 3.18l-2.58 2.59A2.25 2.25 0 0121 13.5v5.25c0 1.24-1 2.25-2.25 2.25H5.25C4.01 21 3 20 3 18.75V5.25C3 4.01 4 3 5.25 3h5.25c1.13 0 2.06.83 2.23 1.92l2.58-2.59c.88-.88 2.3-.88 3.18 0zm-14 16.42c0 .41.34.75.75.75h6v-6.75H4.5v6zm8.25.75h6c.41 0 .75-.34.75-.75V13.5a.75.75 0 00-.75-.75h-6v6.75zm-2.25-15H5.25a.75.75 0 00-.75.75v6h6.75v-6a.75.75 0 00-.75-.75zm2.25 4.8v1.95h1.94L12.75 9.3zm3.62-5.9L13.2 6.56c-.3.3-.3.77 0 1.06l3.18 3.18c.3.3.77.3 1.06 0l3.18-3.18c.3-.3.3-.77 0-1.06l-3.18-3.18a.75.75 0 00-1.06 0z" />
          </svg>
        </a>
      `,
      `
        <a href="#">
          <svg
            width="24"
            height="24"
            stroke-width="0"
            aria-label="Телефон">
            <path d="M18.5 2.33l3.17 3.18c.88.88.88 2.3 0 3.18l-2.58 2.59A2.25 2.25 0 0121 13.5v5.25c0 1.24-1 2.25-2.25 2.25H5.25C4.01 21 3 20 3 18.75V5.25C3 4.01 4 3 5.25 3h5.25c1.13 0 2.06.83 2.23 1.92l2.58-2.59c.88-.88 2.3-.88 3.18 0zm-14 16.42c0 .41.34.75.75.75h6v-6.75H4.5v6zm8.25.75h6c.41 0 .75-.34.75-.75V13.5a.75.75 0 00-.75-.75h-6v6.75zm-2.25-15H5.25a.75.75 0 00-.75.75v6h6.75v-6a.75.75 0 00-.75-.75zm2.25 4.8v1.95h1.94L12.75 9.3zm3.62-5.9L13.2 6.56c-.3.3-.3.77 0 1.06l3.18 3.18c.3.3.77.3 1.06 0l3.18-3.18c.3-.3.3-.77 0-1.06l-3.18-3.18a.75.75 0 00-1.06 0z" />
          </svg>
        </a>
      `
    ],
    nav: [
      `
        <a href="#">
          Компания
        </a>
      `,
      `
        <a href="#">
          Продукция
        </a>
      `,
      `
        <a href="#">
          Услуги и цены
        </a>
      `,
      `
        <a href="#">
          Контакты
        </a>
      `
    ],
    extra: [
      `
        <a href="tel:+74957893580">
          +7 495 789-35-80
        </a>
      `,
      `
        <a href="#" class="btn  btn--small">
          Кнопка
        </a>
      `,
      `
        <a href="#" class="btn  btn--link">
          Кнопка &nbsp;
          <svg
            width="24"
            height="24"
            stroke-width="0"
            aria-hidden="true"
            style="margin-left: -3px; margin-right: -3px;">
            <path d="M18.5 2.33l3.17 3.18c.88.88.88 2.3 0 3.18l-2.58 2.59A2.25 2.25 0 0121 13.5v5.25c0 1.24-1 2.25-2.25 2.25H5.25C4.01 21 3 20 3 18.75V5.25C3 4.01 4 3 5.25 3h5.25c1.13 0 2.06.83 2.23 1.92l2.58-2.59c.88-.88 2.3-.88 3.18 0zm-14 16.42c0 .41.34.75.75.75h6v-6.75H4.5v6zm8.25.75h6c.41 0 .75-.34.75-.75V13.5a.75.75 0 00-.75-.75h-6v6.75zm-2.25-15H5.25a.75.75 0 00-.75.75v6h6.75v-6a.75.75 0 00-.75-.75zm2.25 4.8v1.95h1.94L12.75 9.3zm3.62-5.9L13.2 6.56c-.3.3-.3.77 0 1.06l3.18 3.18c.3.3.77.3 1.06 0l3.18-3.18c.3-.3.3-.77 0-1.06l-3.18-3.18a.75.75 0 00-1.06 0z" />
          </svg>
        </a>
      `,
      `
        <a href="#" class="btn  btn--link">
          <svg
            width="24"
            height="24"
            stroke-width="0"
            aria-label="Телефон">
            <path d="M18.5 2.33l3.17 3.18c.88.88.88 2.3 0 3.18l-2.58 2.59A2.25 2.25 0 0121 13.5v5.25c0 1.24-1 2.25-2.25 2.25H5.25C4.01 21 3 20 3 18.75V5.25C3 4.01 4 3 5.25 3h5.25c1.13 0 2.06.83 2.23 1.92l2.58-2.59c.88-.88 2.3-.88 3.18 0zm-14 16.42c0 .41.34.75.75.75h6v-6.75H4.5v6zm8.25.75h6c.41 0 .75-.34.75-.75V13.5a.75.75 0 00-.75-.75h-6v6.75zm-2.25-15H5.25a.75.75 0 00-.75.75v6h6.75v-6a.75.75 0 00-.75-.75zm2.25 4.8v1.95h1.94L12.75 9.3zm3.62-5.9L13.2 6.56c-.3.3-.3.77 0 1.06l3.18 3.18c.3.3.77.3 1.06 0l3.18-3.18c.3-.3.3-.77 0-1.06l-3.18-3.18a.75.75 0 00-1.06 0z" />
          </svg>
        </a>
      `
    ]
  })

block main
  style(type='text/css').
    body {
      background-color: #F5E3D3;
    }

  section.scene(style="height: 200vh; padding-top: 0;")
    img(
      src="https://www.apple.com/v/home/j/images/heroes/iphone-11-spring/hero__dvsxv8smkkgi_small_2x.jpg"
      style="max-width: none; width: 800px;")
