extends ./../layouts/default
include ./../../src/header/mixins

block variables
  - var pageTitle = "header"

block header
  +header({
    logo: `
      <a href="/">
        ЛОГО
      </a>
    `,
    tool: [
      `
        <a
          href="tel:+79999999"
          aria-label="Телефон">
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke-width="0"
            aria-hidden="true"
            style="margin-right: -4px; margin-left: -4px;">
            <path d="M7.06 2.42l1.16-.35c1.33-.4 2.74.24 3.3 1.5l.9 2a2.75 2.75 0 01-.63 3.15L10.3 10.1a.25.25 0 00-.08.15c-.04.4.23 1.18.85 2.25.45.78.86 1.33 1.2 1.64.25.21.38.26.44.24l2-.61a2.75 2.75 0 013.04 1.02l1.28 1.77c.8 1.12.66 2.66-.34 3.6l-.88.85a3.75 3.75 0 01-3.6.89c-2.74-.77-5.21-3.1-7.43-6.93-2.21-3.83-2.99-7.14-2.27-9.91a3.75 3.75 0 012.55-2.65zm.43 1.43c-.75.23-1.33.83-1.53 1.6-.6 2.33.09 5.26 2.12 8.78 2.04 3.52 4.23 5.59 6.54 6.23.76.21 1.58.01 2.15-.53l.9-.84c.45-.43.51-1.13.14-1.64l-1.28-1.78a1.25 1.25 0 00-1.37-.46l-2.02.62c-1.17.35-2.23-.6-3.37-2.57C9 11.93 8.64 10.9 8.73 10.1c.05-.42.24-.8.55-1.09l1.5-1.4c.38-.36.5-.93.28-1.42l-.9-2c-.26-.58-.9-.87-1.5-.69l-1.17.35z" />
          </svg>
        </a>
      `,
      `
        <a
          href="#"
          aria-label="Поиск">
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke-width="0"
            aria-hidden="true"
            style="margin-right: -3px; margin-left: -3px;">
            <path d="M10 2.75a7.25 7.25 0 015.63 11.82l4.9 4.9a.75.75 0 01-.98 1.13l-.08-.07-4.9-4.9A7.25 7.25 0 1110 2.75zm0 1.5a5.75 5.75 0 100 11.5 5.75 5.75 0 000-11.5z" />
          </svg>
        </a>
      `
    ],
    nav: [
      `
        <a href="#">
          Компания
        </a>
      `,
      `
        <a href="#">
          Продукция
        </a>
      `,
      `
        <a href="#">
          Услуги и цены
        </a>
      `,
      `
        <a href="#">
          Контакты
        </a>
      `
    ],
    extra: [
      `
        <a href="tel:+74957893580">
          +7 495 789-35-80
        </a>
      `,
      `
        <a href="#" class="btn  btn--small">
          Кнопка
        </a>
      `
    ]
  })

block main
  style(type='text/css').
    body {
      background-color: #F5E3D3;
    }

  section.scene(style="height: 200vh; padding-top: 0; padding-left: 0; padding-right: 0; overflow: hidden;")
    //- img(
    //-   src="https://www.apple.com/v/home/j/images/heroes/iphone-11-spring/hero__dvsxv8smkkgi_small_2x.jpg"
    //-   style="max-width: none; min-width: 800px; width: 100%;")
