mixin header(data)
  header.header&attributes(attributes)
    .header__grid
      .header__bar
        +logo(data.logo)

        if data.tool
          +tool(data.tool)

        .header__mmm
          button.header__toggle.js-header-toggle(
            type="button"
            aria-label="Меню"
            aria-expanded="false"
            aria-controls="menu")
            .header__burger

      .header__menu(
        id="menu"
        data-scroll-lock-scrollable)
        nav.header__nav
          +nav(data.nav)

        if data.extra
          .header__nav
            +extra(data.extra)

mixin logo(data)
  .header__logo !{data}

mixin tool(data)
  ul.header__tool
    each item in data
      li.header__icon !{item}

mixin nav(data)
  ul.header__control
    each item in data
      li.header__point !{item}

mixin extra(data)
  ul.header__control
    each item in data
      li.header__point !{item}
