mixin header(data)
  header.header&attributes(attributes)
    .header__grid
      .header__bar
        .header__logo
          a(href="#") !{data.logo}

        ul.header__control
          if data.control
            each item in data.control
              li.header__icon !{item}

          li.header__icon
            button.header__toggle.js-header-toggle(
              type="button"
              aria-expanded="false"
              aria-controls="menu")
              | Меню

      .header__menu(
        id="menu"
        data-scroll-lock-scrollable)
        nav.header__nav
          ul.header__list
            each item in data.nav
              li.header__point
                a(href=item.href) !{item.name}

        if data.extra
          .header__nav
            ul.header__list
              each item in data.extra
                li.header__point !{item}
