mixin person(data)
  .person(class=data && data.isGravity ? "person--gravity" : null)
    if data && data.avatar
      .person__avatar(style=`width: ${data.avatar.size}px; height: ${data.avatar.size}px;`)
        img.person__image(
          src=data.avatar.src
          width=data.avatar.size
          height=data.avatar.size
          alt="")

    if data && (data.name || data.note)
      .person__content
        if data.name
          .person__name !{data.name}

        if data.note
          .person__note !{data.note}
