mixin person(data)
  div.person(class=data && data.isLarge ? "person--large" : null)
    if data && data.avatar
      .person__avatar
        img.person__image(
          src=data.avatar
          width="128"
          height="128"
          alt=data.name)

    .person__content
      .person__name
        | #{data.name}

      if data && data.note
        div.person__note
          | #{data.note}
