mixin price(data)
  .price&attributes(attributes)(
    class=data.isOld ? "price--old" : null
    lang=data.lang)
    if data.before
      .price__before !{data.before}

    .price__value #{data.value.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1\u2009')}
    .price__currency !{data.currency}

    if data.after
      .price__after !{data.after}
